{% macro render_field(field) %}
<div class="mb-3 row">
  {{ field.label(class="col-sm-2 col-form-label") }}
  <div class="col-sm-10">
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_boolean_field(field) %}
<div class="mb-3 row">
  {{ field.label(class="col-sm-2 col-form-label") }}
  <div class="col-sm-1">
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_choices_field(field) %}
<div class="mb-3 row">
  {{ field.label(class="col-sm-2 col-form-label") }}
  <div class="d-inline-flex p-2 col-sm-2">
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endmacro %}