{% extends "base_template.html" %}

{% block title%}4Cast{% endblock title %}

{% block content %}
<div class="container">
    <h1>Prevea el futuro de sus dispositivos IoT</h1>
    <p class="lead">Con 4Cast podrá predecir el estado de sus dispositivos IoT en el futuro.</p>
    <p>Seleccione cualquier dispositivo presentado dentro de la barra de navegación que desea predecir, y podrá comenzar a predecir sus valores dentro de 1 hora, 6 horas y 12 horas.</p>
    <img src="https://static.wixstatic.com/media/db0530_24785e159e2f451eb4d89780060acbe3.jpg/v1/fill/w_980,h_306,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/db0530_24785e159e2f451eb4d89780060acbe3.jpg" 
    class="img-fluid rounded mx-auto d-block" alt="IoT devices">
</div>
{% endblock content %}