{% extends "base_template.html" %}
{% from "_formshelpers.html" import render_field, render_boolean_field %}

{% block title %}Predicción de {{ device }}{% endblock title %}

{% block content %}

    <h2>{{ device }}</h2> 
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type == 'BooleanField' or field.type == 'SelectField'%}
                {{ render_boolean_field(field) }}
            {% elif field.type == 'SubmitField' %}
                <div class="d-grid gap-2 col-4 mx-auto">
                    {{ form.submit(class="btn btn-primary ") }}
                </div>
            {% elif field == form.csrf_token %}
                <!-- Don't display this field -->
            {% elif field.type == 'SelectField' %}
                {{ render_choices_field(field) }}
            {% else %}
                {{ render_field(field, class='form-control') }}
            {% endif %}
        {% endfor %}
    </form>

    {% if prediction %}
    <div></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Valor</th>
                <th>1h</th>
                <th>6h</th>
                <th>12h</th>
            </tr>
        </thead>
        <tbody>
            {% for label in labels %}
            <tr>
                <th>{{ label }}</th>
                <td>{{ prediction[0][loop.index-1] }}</td>
                <td>{{ prediction[1][loop.index-1] }}</td>
                <td>{{ prediction[2][loop.index-1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  

        {% if img_data %}
        <div id="carouselIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
            {% for img in img_data %}
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
            </div>
            <div class="carousel-inner">
            {% for img in img_data %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
                    <img class="img-fluid rounded mx-auto d-block" src='data:image/png;base64, {{ img }}'/>
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        {% endif %}
    {% endif %}

{% endblock content %}
