{% extends "base_template.html" %}
{% from "_formshelpers.html" import render_field %}

{% block title %}Predicción de temperatura{% endblock title %}

{% block content %}

    <h2>Suntracer</h2>  
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ render_field(form.temperatura, class='form-control') }}
        <div class="d-grid gap-2 col-4 mx-auto">
            {{ form.submit(class="btn btn-primary ") }}
        </div>
    </form>

    {% if prediction %}
    <div></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Valor</th>
                <th>1h</th>
                <th>6h</th>
                <th>12h</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Temperatura</th>
                <td>{{ prediction[0] }}</td>
                <td>{{ prediction[1] }}</td>
                <td>{{ prediction[2] }}</td>
            </tr>
        </tbody>
    </table>  

        {% if img_data %}
        <img class="rounded mx-auto d-block" src='data:image/png;base64, {{ img_data }}'/>
        {% endif %}
    {% endif %}

{% endblock content %}
